@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@keyframes diagonal {
  0% {
    transform: translate(-100%, -100%);
  }
  100% {
    transform: translate(0, 0);
  }
}

.animate-diagonal {
  animation: diagonal 0.5s ease forwards;
}

.h-500px {
  height: 500px;
}